html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.container{
    display: block;
    background-color: black;
    height: 100%;
    width: 100%;
}
.heading{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-transform: lowercase;
    color: white;
    padding: 100px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size:xx-large;
    font-weight: 900;
    border: none;
    transition: transform 0.5s;
}
button:active{
    transform: translate(20px);
}